<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"  %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Keffiyeh food truck mustache crucifix bicycle rights,
    biodiesel marfa poutine gastropub dreamcatcher flexitarian kombucha.
    Tote bag aesthetic umami occupy flexitarian. Godard chambray williamsburg,
    cold-pressed leggings echo park cray pour-over hoodie vegan +1 austin drinking
    vinegar shaman direct trade. Edison bulb hammock truffaut gastropub wolf
    crucifix before they sold out stumptown salvia 90's whatever craft beer
    disrupt gentrify actually.</p>
  </div>
</div>
